<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<link rel="stylesheet" th:href="@{/css/accueil.css}" />
<head>
<meta charset="UTF-8">
<title>Accueil</title>
<!-- <title>[[#{home.titre}]]</title> -->
</head>
<body>

	<section layout:fragment="monContenu"
		class="row justify-content-center align-items-center my-4">

		<!-- BLOC Texte centre  -->
		<div class="column ">
				<div class="row justify-content-center align-items-center ">
					<div class="column" style="width: 23%;">
						<img th:src="@{/images/logosansfondblanc.png}"
							class="rounded-circle img-fluid " alt="Responsive image"
							style="width: 100%;" />
					</div>
					<div class="column "
						style="width: 72%; text-align: center; align: middle;">
						<h1 class="mb-4 mt-2 ">Notre Prédicteur de Kompagnonnage</h1>
						<!-- <h1 th:text="#{home.logo}></h1> -->
						<h2 class="hr ">Vers un jardin au naturel en Permaculture</h2>
						<!-- <h2 th:text="#{home.slogan}></h2> -->
					</div>
				</div>
				
				<div class="row justify-content-center mt-5">
					<div class="column m-3 box" style="width: 378px;">
						<button id="buttonFlore" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;">
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5" style="width:15%;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #ffeb3b; opacity: 0.2"></i> <i
											class="fab fa-envira fa-stack-1x" style="color: #ffeb3b"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Rechercher une Flore</h5>
									<!-- <h5 th:text="#{home.rechercherFlore}></h5> -->
									<h6>Accéder à ses
										caractéristiques, Découvrir ses plantes amies, Acheter ses
										plants, ...</h6>
									<!-- <h6 th:text="#{home.rechercherFloreDétails}></h6> -->	
								</div>
							</div>
						</button>
					</div>

					<div class="column m-3 box" style="width: 378px;">
						<button id="buttonLien" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;" >
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5 " style="width: 15%;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #ffab00; opacity: 0.2"></i> <i
											class="fas fa-link fa-stack-1x" style="color: #ffab00"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Rechercher une Synergie</h5>
									<!-- <h5 th:text="#{home.rechercherSynergie}></h5> -->
									<h6>Vérifier si des plantes
										sont amies, Trouver avec quoi associer vos plantes, ...</h6>
									<!-- <h6 th:text="#{home.rechercherSynergieDétails}></h6> -->	
								</div>
							</div>
						</button>
					</div>

					<div class="column m-3 box" style="width: 378px;">
						<button id="buttonConseil" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;">
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5 " style="width: 15%;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #f44336; opacity: 0.2"></i> <i
											class="fas fa-toolbox fa-stack-1x" style="color: #f44336"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Rechercher des Conseils</h5>
									<!-- <h5 th:text="#{home.rechercherConseils}></h5> -->
									<h6>Parcourir les
										recommandations de lecture, Trouver des informations sur la
										permaculture,...</h6>
									<!-- <h6 th:text="#{home.rechercherConseilsDétails}></h6> -->	
								</div>
							</div>
						</button>
					</div>
				</div>

				<div class="row justify-content-center align-items-center  mt-2">
					<div class="column m-3 box"
						style="width: 378px;">
						<button id="buttonFaune" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;">
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5 " style="width: 50px;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #8bc34a; opacity: 0.2"></i> <i
											class="fas fa-bug fa-stack-1x" style="color: #8bc34a"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Rechercher une Faune</h5>
									<!-- <h5 th:text="#{home.rechercherFaune}></h5> -->
									<h6>Protéger ses plantes,
										Acheter des pollinisateurs, ...</h6>
									<!-- <h6 th:text="#{home.rechercherFauneDétails}></h6> -->
								</div>
							</div>
						</button>
					</div>

					<div class="column m-3 box"
						style="width: 378px;">
						<button id="buttonCompte" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;">
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5 " style="width: 50px;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #03a9f4; opacity: 0.2"></i> <i
											class="fas fa-user fa-stack-1x" style="color: #03a9f4"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Se connecter à son Espace</h5>
									<!-- <h5 th:text="#{home.seConnecter}></h5> -->
									<h6>Configurer MonPetitJardin,
										Suivre ses commandes, ....</h6>
									<!-- <h6 th:text="#{home.seConnecterDétails}></h6> -->
								</div>
							</div>
						</button>
					</div>

					<div class="column m-3 box"
						style="width: 378px;">
						<button id="buttonContact" type="button"
							class="btn shadow-none justify-content-center align-items-center"
							style="height: 140px; width: 376px;">
							<div class="row justify-content-center align-items-center">
								<div class="column mr-5 " style="width: 50px;">
									<div class="fa-stack fa-2x mr-5">
										<i class="fas fa-circle fa-stack-2x"
											style="color: #d81b60; opacity: 0.2"></i> <i
											class="fas fa-comments fa-stack-1x" style="color: #d81b60"></i>
									</div>
								</div>
								<div class="column" style="width: 230px;">
									<h5>Nous contacter</h5>
									<!-- <h5 th:text="#{home.nousContacter}></h5> -->
									<h6>Poser des questions,
										Comprendre le fonctionnement du site, Connaître l'origne du
										projet, ...</h6>
									<!-- <h6 th:text="#{home.nousContacterDétails}></h6> -->
								</div>
							</div>
						</button>
					</div>
				</div>
			</div>
		
	</section>


</body>
</html>