@charset "UTF-8";

/* Background */
body, html  {
   margin: 0;
  /* Image */
  background: url(/flore-project-permaculture/images/testBG.png);

 /*  Hauteur  */
  height: 100%; 

  /* Centrer */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#card {
	width: 68%;
	height: 85%; 
	align-content: center;
	background-color: rgb(255,255,255,0.5);
	border-color: #8bc34a;
}


/* Barre de nav */
#logo {
	font-size: 18px;
	font-style: italic;
	font-family: Cambria;
	color: #8bc34a;
}

#navbar {
	width: 100%;
	font-size: 18px;
	background-color: #f1f8e9;
}

li {
	border-bottom-style: solid;
	border-color: transparent;
}

li:hover, li:active {
	border-bottom-style: solid;
	border-color: #8bc34a;
}

.nav-link {
	font-size: 18px;
	font-style: bold;
	color: #8bc34a;
}

#liButton {
	margin-right: 5;
	margin-left: 5;
	color: #8bc34a;
}

/* Logo / Titre / Traits horizontaux à côté du titre */
h1 {
	font-family:Cambira;
}

h2 {
	font-family:Cambira;
	font-style:italic;
	color: #8bc34a;
}

.hr {
	align-items: center;
	display: flex;
	text-align: center;
}

.hr:before, .hr:after {
	border-top: .0625em solid;
	content: "";
	flex: 1;
	margin: 1em;
}

/* Boutons */

h6 {
	font-weight : normal;
	font-style: italic; 
}

.btn {
	transition: 600ms;
}

#buttonFlore:hover, #buttonFlore:active, #buttonFlore:focus {
	background-color: #fffde7;
}

#buttonFaune:hover, #buttonFaune:active, #buttonFaune:focus {
	background-color: #f1f8e9;
}

#buttonLien:hover, #buttonLien:active, #buttonLien:focus {
	background-color: #fff8e1;
}

#buttonCompte:hover, #buttonCompte:active, #buttonCompte:focus {
	background-color: #e1f5fe;
}

#buttonConseil:hover, #buttonConseil:active, #buttonConseil:focus {
	background-color: #ffebee;
}

#buttonContact:hover, #buttonContact:active, #buttonContact:focus {
	background-color: #fce4ec;
}


